/* CSS Document */

.background{
background:#000000
}

.logo{
background-image:url(logo.png)
}

.progressBar{
background-color:#000099
}

.splash{
background-image:url(splash.png)
}

.watermark {
background-image:url(watermark.png);
background-size: 60px 60px;
}