/* CSS Document */

.background{
background:center no-repeat url(background.png)
}

.logo{
background-image:url(logo.jpg)
}

.progressBar{
background-color:#0033CC
}

.splash{
background-image:url(splash.png)
}

.watermark {
background-image:url(watermark.png);
background-size: 60px 60px;
}